.mail-container {
  height: 40%;
  width: 100%;
  position: absolute;
  margin-left: 15%;
}
.mail-container table {
  height: 80%;
  width: 100%;
  background-color: aqua;
  border: 1px solid black;
}
.mail-container table tbody tr {
  background-color: aqua;
}
